@font-face {
  font-family: 'Hanging Letters';
  src: url("./fonts/HangingLetters.eot");
  src: url("./fonts/HangingLetters.eot?#iefix") format("embedded-opentype"), url("./fonts/HangingLetters.woff2") format("woff2"), url("./fonts/HangingLetters.woff") format("woff"), url("./fonts/HangingLetters.ttf") format("truetype"), url("./fonts/HangingLetters.svg#HangingLetters") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Regular.eot");
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("./fonts/Montserrat-Regular.woff") format("woff"), url("./fonts/Montserrat-Regular.ttf") format("truetype"), url("./fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Bold.eot");
  src: url("./fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Bold.woff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff"), url("./fonts/Montserrat-Bold.ttf") format("truetype"), url("./fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jersey M54';
  src: url("./fonts/JerseyM54.eot");
  src: url("./fonts/JerseyM54.eot?#iefix") format("embedded-opentype"), url("./fonts/JerseyM54.woff2") format("woff2"), url("./fonts/JerseyM54.woff") format("woff"), url("./fonts/JerseyM54.ttf") format("truetype"), url("./fonts/JerseyM54.svg#JerseyM54") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/************************
GLOBALS
************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html.-overflow, body.-overflow {
  overflow: hidden;
}

html.-overflowStart > *, body.-overflowStart > * {
  display: none;
}

html.-overflowStart > .intro, body.-overflowStart > .intro {
  display: block;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

.video__container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video__container object,
.video__container embed,
.video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************************
INTRO
************************/
.intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.intro::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2a1616;
  background: -webkit-gradient(linear, left bottom, left top, from(#2a1616), color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #2a1616 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

.intro__left,
.intro__right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: 100;
}

.intro__left {
  left: 0;
  background: #000000;
  border-right: 2px solid #000000;
  background: url("./img/pink-dust.png") center repeat;
  -webkit-transition: left 1.5s cubic-bezier(0.6, 0.01, 0.7, 1);
  transition: left 1.5s cubic-bezier(0.6, 0.01, 0.7, 1);
}

.intro__left:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(#191919), color-stop(1%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(-90deg, #191919 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 100%);
}

.intro__left.-doorsOpened {
  left: -100%;
}

.intro__right {
  right: 0;
  background: #000000;
  border-left: 2px solid #000000;
  background: url("./img/pink-dust.png") center repeat;
  -webkit-transition: right 1.5s cubic-bezier(0.6, 0.01, 0.7, 1);
  transition: right 1.5s cubic-bezier(0.6, 0.01, 0.7, 1);
}

.intro__right:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#191919), color-stop(1%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #191919 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 100%);
}

.intro__right.-doorsOpened {
  right: -100%;
}

.intro__right .intro__bear {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 0;
  background: grey;
  border: 5px solid #000000;
  border-radius: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  box-shadow: -19px 0px 35px -13px black;
  -webkit-box-shadow: -19px 0px 35px -13px black;
  -moz-box-shadow: -19px 0px 35px -13px black;
  cursor: pointer;
  background-image: -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.1) 3.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.2) 2.2%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.intro__right .intro__bear::before, .intro__right .intro__bear::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-image: -webkit-radial-gradient(50% 0%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.intro__right .intro__bear:hover, .intro__right .intro__bear:active {
  box-shadow: 0px 0px 35px -13px black inset;
  -webkit-box-shadow: 0px 0px 35px -13px black inset;
  -moz-box-shadow: 0px 0px 35px -13px black inset;
}

.intro__right .intro__bear img {
  position: absolute;
  width: 170px;
  height: auto;
  top: 50%;
  left: 50%;
  display: block;
  opacity: 0.5;
  -webkit-transform: translateX(-55%) translateY(-52%);
          transform: translateX(-55%) translateY(-52%);
}

.container {
  position: relative;
  height: 100%;
}

.container .title {
  position: relative;
  font-family: 'Hanging Letters';
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .container .title {
    font-size: 62px;
  }
}

@media screen and (min-width: 768px) {
  .container .title {
    font-size: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container .title {
    font-size: 98px;
  }
}

.container .title span {
  display: inline-block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 0.5s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0.5s cubic-bezier(0.1, 0, 0, 1);
  text-shadow: 0px 0px 12px #FFFCB3;
}

.container .title span.-appear {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .title span.-sized {
  -webkit-transition: all 0.2s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0.2s cubic-bezier(0.1, 0, 0, 1);
  -webkit-transform: translateY(0) scale(1.25) rotate(15deg);
          transform: translateY(0) scale(1.25) rotate(15deg);
}

.container .title span.-colored {
  -webkit-transition: all 0s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0s cubic-bezier(0.1, 0, 0, 1);
  text-shadow: none;
  color: #000000;
  text-shadow: 0px 0px 4px #000000;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content .auv {
  position: absolute;
  width: 75px;
  height: auto;
  top: 80%;
  left: 40%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
}

.content .aup {
  position: absolute;
  width: 76px;
  height: auto;
  top: 78%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
}

#paralax {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
}

#paralax .layer {
  position: absolute;
  width: 400%;
}

#paralax .layer.foreground {
  height: 50%;
  bottom: 0;
  background: url("./img/foreground.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 30s linear infinite;
          animation: slideshow 30s linear infinite;
}

#paralax .layer.hills {
  height: 40%;
  bottom: 15%;
  background: url("./img/hills.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 60s linear infinite;
          animation: slideshow 60s linear infinite;
}

#paralax .layer.rocks1 {
  height: 35%;
  bottom: 25%;
  background: url("./img/rocks1.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 120s linear infinite;
          animation: slideshow 120s linear infinite;
}

#paralax .layer.rocks2 {
  height: 40%;
  bottom: 15%;
  background: url("./img/rocks2.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 240s linear infinite;
          animation: slideshow 240s linear infinite;
}

.intro__arrowdown {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.intro__arrowdown.-arrowShow {
  opacity: 1;
  pointer-events: all;
}

.intro__arrowdown svg {
  -webkit-animation: arrowbounce 1.5s infinite;
          animation: arrowbounce 1.5s infinite;
}

.replay {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 12px;
  display: none;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .replay {
    top: 0;
  }
}

.replay:hover span {
  color: #000000;
}

.replay:hover svg path {
  fill: #000000;
}

.replay.-animEnded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.replay span {
  font-family: 'Montserrat';
  font-style: 13px;
  color: #FFFFFF;
  display: inline-block;
  margin-right: 8px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.replay svg {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.replay svg path {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.intro__banner {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.intro__banner p {
  font-family: 'Montserrat';
  font-size: 11px;
  color: #FFFFFF;
}

/************************
SECTION - 
************************/
section {
  position: relative;
}

.left {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .left {
    width: 70%;
  }
}

.js-onview {
  opacity: 0;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.js-onview.-reveal {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/************************
SECTION - START
************************/
.start {
  padding: 60px 0;
  background: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .start {
    padding: 120px;
  }
}

.start .particletext {
  position: absolute;
  width: 98%;
  height: 10px;
  top: 0;
  left: 0;
}

.start .particletext.confetti > .particle {
  opacity: 0;
  position: absolute;
  -webkit-animation: confetti 8s ease-in infinite;
          animation: confetti 8s ease-in infinite;
}

.start .particletext.confetti > .particle.c1 {
  background-color: rgba(76, 175, 80, 0.5);
}

.start .particletext.confetti > .particle.c2 {
  background-color: rgba(156, 39, 176, 0.5);
}

.start .particletext.confetti > .particle.c3 {
  background-color: rgba(245, 29, 26, 0.5);
}

.start .particletext.confetti > .particle.c3 {
  background-color: rgba(49, 26, 236, 0.5);
}

.start .start__inner {
  text-align: center;
}

.start .start__inner p {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .start .start__inner p {
    font-size: 40px;
    margin-bottom: 32px;
  }
}

/************************
SECTION - SECOND
************************/
.second {
  position: relative;
  min-height: 100vh;
  background: url("./img/binding_dark.png") center repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  overflow: hidden;
}

.second::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2a1616;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a1616), color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #2a1616 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

.second::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2a1616;
  background: -webkit-gradient(linear, left bottom, left top, from(#2a1616), color-stop(30%, #00000000));
  background: linear-gradient(0deg, #2a1616 0%, #00000000 30%);
  pointer-events: none;
}

.second .second__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: url("./img/skull.svg") no-repeat center;
  background-size: 450px;
  background-attachment: fixed;
}

.second .second__icon svg {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -225px;
}

.second .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.second h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #FFFFFF;
  font-size: 34px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .second h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

/************************
SECTION - THIRD
************************/
.third, .fifth {
  position: relative;
  padding: 300px 0;
  background: url("./img/pixel-heart.png") center repeat;
  min-height: 100vh;
}

.third::before, .fifth::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8aeae;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8aeae), color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #f8aeae 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

.third::after, .fifth::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8aeae;
  background: -webkit-gradient(linear, left bottom, left top, from(#f8aeae), color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #f8aeae 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

.third .container, .fifth .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third .left, .fifth .left {
  text-align: center;
}

.third .left h2, .fifth .left h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .third .left h2, .fifth .left h2 {
    font-size: 64px;
  }
}

.third .left .buttons span, .third .left .buttons a, .fifth .left .buttons span, .fifth .left .buttons a {
  font-family: 'Montserrat';
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  background: #FFFFFF;
  padding: 12px 24px;
  border: 2px solid #000000;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.third .left .buttons span:hover, .third .left .buttons a:hover, .fifth .left .buttons span:hover, .fifth .left .buttons a:hover {
  background: #000000;
  color: #FFFFFF;
}

.third .left .buttons > span, .fifth .left .buttons > span {
  margin-right: 32px;
}

.third .left .buttons > span + span, .third .left .buttons > span + a, .fifth .left .buttons > span + span, .fifth .left .buttons > span + a {
  margin-left: 32px;
  margin-right: 0;
}

/************************
SECTION - FORTH
************************/
.forth {
  position: relative;
  padding: 120px 0;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.forth .forth__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("./img/repeated-square_green.png") center repeat;
  pointer-events: none;
}

.forth .forth__number {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #DDDD00;
  pointer-events: none;
}

.forth .forth__number::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 3%;
  height: 100%;
  background: #CECECE;
  display: block;
}

.forth .forth__number::after {
  position: absolute;
  content: '';
  top: 0;
  left: 3%;
  width: 3%;
  height: 100%;
  background: #DDDD00;
  display: block;
}

.forth .forth__number .forth__number__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.forth .forth__number .forth__number__inner::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 3%;
  height: 100%;
  background: #CECECE;
  display: block;
}

.forth .forth__number .forth__number__inner::after {
  position: absolute;
  content: '';
  top: 0;
  right: 3%;
  width: 3%;
  height: 100%;
  background: #DDDD00;
  display: block;
}

.forth .forth__number span {
  font-family: 'Jersey M54';
  font-size: 280px;
  line-height: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -154px;
  margin-left: -75px;
}

@media screen and (min-width: 768px) {
  .forth .forth__number span {
    font-size: 520px;
    line-height: 500px;
    margin-top: -275px;
    margin-left: -140px;
  }
}

.forth .container {
  padding-top: 50px;
}

.forth h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #FFFFFF;
  font-size: 34px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .forth h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

/************************
SECTION - FIFTH
************************/
.fifth {
  background: url("./img/watercolor.png") center repeat;
}

.fifth::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(20%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.01)));
  background: linear-gradient(180deg, #ffffff 0%, rgba(0, 0, 0, 0.01) 20%, rgba(0, 0, 0, 0.01) 100%);
  pointer-events: none;
}

.fifth::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #ffffff 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

/************************
SECTION - IMPOSSIBLE
************************/
.impossible {
  position: relative;
  padding: 150px 0;
  min-height: 100vh;
  overflow: hidden;
  background: #000000;
}

.impossible .impossible__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("./img/sekirodeath.jpg") center repeat;
  background-size: cover;
  pointer-events: none;
  z-index: 0;
}

.impossible h2 {
  font-family: 'Montserrat';
  font-size: 34px;
  color: #FFFFFF;
  top: 20px;
  text-align: center;
  z-index: 1;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .impossible h2 {
    font-size: 46px;
  }
}

.impossible .left img {
  width: 100%;
  height: auto;
  display: block;
}

.impossible .impossible__lulw {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1240px;
  height: 100%;
}

.impossible .impossible__lulw img {
  position: absolute;
  display: block;
  height: auto;
}

.impossible .impossible__lulw .lulone {
  width: 40px;
  top: 10%;
  left: 12%;
  -webkit-animation: lulw 3s linear infinite;
          animation: lulw 3s linear infinite;
}

.impossible .impossible__lulw .lultwo {
  width: 55px;
  top: 22%;
  left: 60%;
  -webkit-animation: lulw 5s linear infinite;
          animation: lulw 5s linear infinite;
}

.impossible .impossible__lulw .lulthree {
  width: 80px;
  top: 80%;
  left: 50%;
  -webkit-animation: lulw 3.2s linear infinite 0.4s;
          animation: lulw 3.2s linear infinite 0.4s;
}

.impossible .impossible__lulw .lulfour {
  width: 30px;
  top: 56%;
  left: 30%;
  -webkit-animation: lulw 2.2s linear infinite 0.6s;
          animation: lulw 2.2s linear infinite 0.6s;
}

.impossible .impossible__lulw .lulfive {
  width: 48px;
  top: 0;
  left: 68%;
  -webkit-animation: lulw 3.2s linear infinite 2.8s;
          animation: lulw 3.2s linear infinite 2.8s;
}

.impossible .impossible__lulw .lulsix {
  width: 70px;
  top: 90%;
  left: 22%;
  -webkit-animation: lulw 5.2s linear infinite 1.2s;
          animation: lulw 5.2s linear infinite 1.2s;
}

.impossible .impossible__lulw .lulseven {
  width: 90px;
  top: 2%;
  left: 35%;
  -webkit-animation: lulw 7.2s linear infinite 3.2s;
          animation: lulw 7.2s linear infinite 3.2s;
}

.impossible .impossible__lulw .luleight {
  width: 76px;
  top: 50%;
  left: 7%;
  -webkit-animation: lulw 5.2s linear infinite 2.5s;
          animation: lulw 5.2s linear infinite 2.5s;
}

.impossible .impossible__lulw .lulnine {
  width: 68px;
  top: 89%;
  left: 94%;
  -webkit-animation: lulw 5.2s linear infinite 2.5s;
          animation: lulw 5.2s linear infinite 2.5s;
}

.impossible .impossible__lulw .lulten {
  width: 35px;
  top: 8%;
  left: 94%;
  -webkit-animation: lulw 5.2s linear infinite 2.5s;
          animation: lulw 5.2s linear infinite 2.5s;
}

/************************
SECTION - SIXTH
************************/
.sixth {
  position: relative;
  padding: 120px 0 100px 0;
  overflow: hidden;
}

.sixth .sixth__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("./img/dot-grid.png") center repeat;
  pointer-events: none;
}

.sixth h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #000000;
  font-size: 34px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sixth h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

.sixth .grid-item,
.sixth .grid-sizer {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .sixth .grid-item,
  .sixth .grid-sizer {
    width: calc(50% - 24px);
  }
}

@media screen and (min-width: 768px) {
  .sixth .grid-item,
  .sixth .grid-sizer {
    width: calc(33% - 20px);
  }
}

.sixth .grid-item {
  margin-bottom: 32px;
}

@media screen and (min-width: 600px) {
  .sixth .grid-item {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .sixth .grid-item {
    margin-bottom: 40px;
  }
}

.sixth .sixth__solo {
  background: #FFFFFF;
  padding: 16px;
  border-radius: 20px;
  border: 2px solid #666666;
}

.sixth .sixth__solo .sixth__text {
  font-family: 'Montserrat';
  font-size: 15px;
  text-align: left;
  display: block;
  margin-bottom: 16px;
}

.sixth .sixth__solo .sixth__author {
  font-family: 'Montserrat';
  font-size: 13px;
  font-style: italic;
  color: #888888;
  text-align: right;
  display: block;
}

/************************
FOOTER
************************/
footer {
  position: relative;
  min-height: 100vh;
  background: #000000;
}

footer h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #FFFFFF;
  font-size: 34px;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer h2 {
    font-size: 48px;
    margin-bottom: 90px;
  }
}

footer #world {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

footer .container {
  padding: 120px 0 100px 0;
}

footer .footer__container {
  position: relative;
  height: 550px;
  overflow: hidden;
}

footer .footer__container::before {
  position: absolute;
  content: '';
  width: 80%;
  height: 100%;
  top: 0;
  left: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(25%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .footer__container::after {
  position: absolute;
  content: '';
  width: 80%;
  height: 100%;
  top: 0;
  left: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(25%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .footer__container.-reveal .credits {
  -webkit-animation: credits 24s linear infinite;
          animation: credits 24s linear infinite;
}

footer .credits {
  text-align: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

footer .credits .credits__inner {
  margin-bottom: 50px;
}

footer .credits h3, footer .credits p {
  color: #FFFFFF;
}

footer .credits h3 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

footer .credits p {
  font-size: 20px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  footer .credits p {
    font-size: 24px;
  }
}

/************************
LAYERS
************************/
.twitch__chat {
  display: none;
}

@media screen and (min-width: 1024px) {
  .twitch__chat {
    display: block;
    position: fixed;
    width: 300px;
    top: 50%;
    right: -100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    z-index: 100px;
  }
  .twitch__chat.-showTwitch {
    right: 0;
  }
}

.twitch__chat iframe {
  width: 100%;
  height: 70vh;
}

.layer__motiv {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}

.layer__motiv.-showLayer {
  opacity: 1;
  pointer-events: all;
}

.layer__motiv.layer__motivtwo .container img {
  height: 60vh;
  width: auto;
  margin: 0 auto;
}

.layer__motiv .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.layer__motiv .container .layer__close {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 70px;
  right: 70px;
  border-radius: 100%;
  background: #000000;
  border: 1px solid #FFFFFF;
  background: url("./img/icon_close.svg") no-repeat center;
  background-size: 30%;
  cursor: pointer;
}

.layer__motiv .container img {
  width: 100%;
  height: auto;
  display: block;
}

.layer__motiv .container img.jebaited {
  width: 160px;
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
  display: none;
}

/************************
ANIMATION
************************/
@-webkit-keyframes slideshow {
  0% {
    -webkit-transform: translateX(0%) scale(1.04);
            transform: translateX(0%) scale(1.04);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1.04);
            transform: translateX(-50%) scale(1.04);
  }
}
@keyframes slideshow {
  0% {
    -webkit-transform: translateX(0%) scale(1.04);
            transform: translateX(0%) scale(1.04);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1.04);
            transform: translateX(-50%) scale(1.04);
  }
}

@-webkit-keyframes arrowbounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}

@keyframes arrowbounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}

@-webkit-keyframes credits {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  98% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes credits {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  98% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes lulw {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lulw {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes confetti {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200%) rotate(0deg);
            transform: translateY(-200%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    -webkit-transform: translateY(-400%) rotate(270deg);
            transform: translateY(-400%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100vh) rotate(1440deg);
            transform: translateY(100vh) rotate(1440deg);
  }
}

@keyframes confetti {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200%) rotate(0deg);
            transform: translateY(-200%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    -webkit-transform: translateY(-400%) rotate(270deg);
            transform: translateY(-400%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100vh) rotate(1440deg);
            transform: translateY(100vh) rotate(1440deg);
  }
}
/*# sourceMappingURL=style.css.map */