@font-face {
  font-family: 'Hanging Letters';
  src: url("./fonts/HangingLetters.eot");
  src: url("./fonts/HangingLetters.eot?#iefix") format("embedded-opentype"), url("./fonts/HangingLetters.woff2") format("woff2"), url("./fonts/HangingLetters.woff") format("woff"), url("./fonts/HangingLetters.ttf") format("truetype"), url("./fonts/HangingLetters.svg#HangingLetters") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bomber Balloon';
  src: url("./fonts/BomberBalloon.eot");
  src: url("./fonts/BomberBalloon.eot?#iefix") format("embedded-opentype"), url("./fonts/BomberBalloon.woff2") format("woff2"), url("./fonts/BomberBalloon.woff") format("woff"), url("./fonts/BomberBalloon.ttf") format("truetype"), url("./fonts/BomberBalloon.svg#BomberBalloon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/************************
GLOBALS
************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

/************************
INTRO
************************/
.intro {
  position: relative;
  height: 100vh;
}

.intro::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #C16039;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(15%, #FFFFFF00));
  background: linear-gradient(0deg, #000000 0%, #FFFFFF00 15%);
  pointer-events: none;
}

.container {
  position: relative;
  height: 100%;
}

.container .title {
  position: relative;
  font-family: 'Hanging Letters';
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .container .title {
    font-size: 62px;
  }
}

@media screen and (min-width: 768px) {
  .container .title {
    font-size: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container .title {
    font-size: 98px;
  }
}

.container .title span {
  display: inline-block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 0.5s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0.5s cubic-bezier(0.1, 0, 0, 1);
  text-shadow: 0px 0px 12px #FFFCB3;
}

.container .title span.-appear {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .title span.-sized {
  -webkit-transition: all 0.2s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0.2s cubic-bezier(0.1, 0, 0, 1);
  -webkit-transform: translateY(0) scale(1.25) rotate(15deg);
          transform: translateY(0) scale(1.25) rotate(15deg);
}

.container .title span.-colored {
  -webkit-transition: all 0s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0s cubic-bezier(0.1, 0, 0, 1);
  text-shadow: none;
  color: #000000;
  text-shadow: 0px 0px 4px #000000;
}

.container .subtitle {
  font-family: 'Bomber Balloon';
  font-size: 38px;
  line-height: 45px;
  text-shadow: 0px 0px 4px #000000;
  position: absolute;
  width: calc(100% - 32px);
  top: 25%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 600px) {
  .container .subtitle {
    font-size: 70px;
    line-height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .container .subtitle {
    font-size: 60px;
    line-height: 100px;
    letter-spacing: -1px;
    width: calc(100% - 64px);
  }
}

@media screen and (min-width: 1024px) {
  .container .subtitle {
    font-size: 95px;
  }
}

.container .subtitle span {
  position: relative;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 1s cubic-bezier(0.12, 0.43, 0.4, 1);
  transition: all 1s cubic-bezier(0.12, 0.43, 0.4, 1);
}

.container .subtitle span:nth-child(odd) {
  color: #66aadd;
}

.container .subtitle span:nth-child(even) {
  color: #ffdd00;
}

.container .subtitle span.-reveal {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#paralax {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
}

#paralax .layer {
  position: absolute;
  width: 400%;
}

#paralax .layer.foreground {
  height: 50%;
  bottom: 0;
  background: url("./img/foreground.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 30s linear infinite;
          animation: slideshow 30s linear infinite;
}

#paralax .layer.hills {
  height: 40%;
  bottom: 15%;
  background: url("./img/hills.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 60s linear infinite;
          animation: slideshow 60s linear infinite;
}

#paralax .layer.rocks1 {
  height: 35%;
  bottom: 25%;
  background: url("./img/rocks1.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 120s linear infinite;
          animation: slideshow 120s linear infinite;
}

#paralax .layer.rocks2 {
  height: 40%;
  bottom: 15%;
  background: url("./img/rocks2.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 240s linear infinite;
          animation: slideshow 240s linear infinite;
}

.intro__arrowdown {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.intro__arrowdown svg {
  -webkit-animation: arrowbounce 1.5s infinite;
          animation: arrowbounce 1.5s infinite;
}

/************************
SECTION - 
************************/
section {
  position: relative;
}

.left {
  width: 70%;
}

/************************
SECTION - SECOND
************************/
.second {
  position: relative;
  padding: 300px 0;
  background: url("./img/binding_dark.png") center repeat;
}

.second::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #C16039;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(30%, #FFFFFF00));
  background: linear-gradient(180deg, #000000 0%, #FFFFFF00 30%);
  pointer-events: none;
}

.second .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.second h2 {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .second h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

.second .video__container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.second .video__container object,
.second .video__container embed,
.second .video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************************
LAYERS
************************/
.twitch__chat {
  display: none;
}

@media screen and (min-width: 1024px) {
  .twitch__chat {
    display: block;
    position: fixed;
    width: 350px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.twitch__chat iframe {
  width: 100%;
  height: 70vh;
}

/************************
ANIMATION
************************/
@-webkit-keyframes slideshow {
  0% {
    -webkit-transform: translateX(0%) scale(1.04);
            transform: translateX(0%) scale(1.04);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1.04);
            transform: translateX(-50%) scale(1.04);
  }
}
@keyframes slideshow {
  0% {
    -webkit-transform: translateX(0%) scale(1.04);
            transform: translateX(0%) scale(1.04);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1.04);
            transform: translateX(-50%) scale(1.04);
  }
}

@-webkit-keyframes dayToNight {
  0% {
    -webkit-filter: hue-rotate(0deg) brightness(1);
    filter: hue-rotate(0deg) brightness(1);
  }
  50% {
    -webkit-filter: hue-rotate(180deg) brightness(0.1);
    filter: hue-rotate(180deg) brightness(0.1);
  }
  100% {
    -webkit-filter: hue-rotate(0deg) brightness(1);
    filter: hue-rotate(0deg) brightness(1);
  }
}

@keyframes dayToNight {
  0% {
    -webkit-filter: hue-rotate(0deg) brightness(1);
    filter: hue-rotate(0deg) brightness(1);
  }
  50% {
    -webkit-filter: hue-rotate(180deg) brightness(0.1);
    filter: hue-rotate(180deg) brightness(0.1);
  }
  100% {
    -webkit-filter: hue-rotate(0deg) brightness(1);
    filter: hue-rotate(0deg) brightness(1);
  }
}

@-webkit-keyframes arrowbounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}

@keyframes arrowbounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}
/*# sourceMappingURL=style.css.map */