$white: #FFFFFF;
$black: #000000;
$black-40: rgba(0,0,0,0.4);
$blue: #66aadd;
$yellow: #ffdd00;
$foregroundDuration: 30s;
$hillsDuration: 60s;
$rocks1Duration: 120s;
$rocks2Duration: 240s;

@font-face {
	font-family: 'Hanging Letters';
	src: url('./fonts/HangingLetters.eot');
	src: url('./fonts/HangingLetters.eot?#iefix') format('embedded-opentype'),
			url('./fonts/HangingLetters.woff2') format('woff2'),
			url('./fonts/HangingLetters.woff') format('woff'),
			url('./fonts/HangingLetters.ttf') format('truetype'),
			url('./fonts/HangingLetters.svg#HangingLetters') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Regular.eot');
	src: url('./fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
			url('./fonts/Montserrat-Regular.woff2') format('woff2'),
			url('./fonts/Montserrat-Regular.woff') format('woff'),
			url('./fonts/Montserrat-Regular.ttf') format('truetype'),
			url('./fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Bold.eot');
	src: url('./fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
			url('./fonts/Montserrat-Bold.woff2') format('woff2'),
			url('./fonts/Montserrat-Bold.woff') format('woff'),
			url('./fonts/Montserrat-Bold.ttf') format('truetype'),
			url('./fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jersey M54';
	src: url('./fonts/JerseyM54.eot');
	src: url('./fonts/JerseyM54.eot?#iefix') format('embedded-opentype'),
			url('./fonts/JerseyM54.woff2') format('woff2'),
			url('./fonts/JerseyM54.woff') format('woff'),
			url('./fonts/JerseyM54.ttf') format('truetype'),
			url('./fonts/JerseyM54.svg#JerseyM54') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/************************
GLOBALS
************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	margin: 0;
	padding:0;
	width:100%;
	height:100%;

	&.-overflow {
		overflow: hidden;
	}

	&.-overflowStart {
		&>* { display: none; }
		&>.intro { display: block; }
	}
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;

	@media screen and (min-width:768px) {
		padding: 0 32px;
	}
}

.video__container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;

	object,
	embed,
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/************************
INTRO
************************/
.intro {
	position: relative;
	height: 100vh;
	overflow: hidden;

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #2a1616;
		background: -webkit-linear-gradient(0deg, rgba(42, 22, 22, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
		background: -moz-linear-gradient(0deg, rgba(42, 22, 22, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(0deg, rgba(42, 22, 22, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
		pointer-events: none;
	}
}

.intro__left,
.intro__right {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	z-index: 100;
}

.intro__left {
	left: 0;
	background: $black;
	border-right: 2px solid $black;
	background: url('./img/pink-dust.png') center repeat;
	transition: left 1.5s cubic-bezier(.6,.01,.7,1);

	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: -webkit-linear-gradient(-90deg, rgba(25, 25, 25, 1) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 100%);
		background: -moz-linear-gradient(-90deg, rgba(25, 25, 25, 1) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(-90deg, rgba(25, 25, 25, 1) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 100%);
	}

	&.-doorsOpened {
		left: -100%;
	}
}

.intro__right {
	right: 0;
	background: $black;
	border-left: 2px solid $black;
	background: url('./img/pink-dust.png') center repeat;
	transition: right 1.5s cubic-bezier(.6,.01,.7,1);

	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: -webkit-linear-gradient(90deg, rgba(25, 25, 25, 1) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 100%);
		background: -moz-linear-gradient(90deg, rgba(25, 25, 25, 1) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(90deg, rgba(25, 25, 25, 1) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 100%);
	}

	&.-doorsOpened {
		right: -100%;
	}

	.intro__bear {
		position: absolute;
		width: 300px;
		height: 300px;
		top: 50%;
		left: 0;
		background: grey;
		border: 5px solid $black;
		border-radius: 100%;
		transform: translateX(-50%) translateY(-50%);
		box-shadow: -19px 0px 35px -13px rgba(0,0,0,1);
		-webkit-box-shadow: -19px 0px 35px -13px rgba(0,0,0,1);
		-moz-box-shadow: -19px 0px 35px -13px rgba(0,0,0,1);
		cursor: pointer;
		background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),
    -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
		transition: all 0.4s ease-in-out;

		&::before, &::after {
			content: "";
			top: 0;
			left: 0;
			position: absolute;
			width: inherit;
			height: inherit;
			border-radius: inherit;
			background-image: -webkit-radial-gradient(  50%   0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
			-webkit-radial-gradient(  50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
			-webkit-radial-gradient(   0%  50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
			-webkit-radial-gradient( 100%  50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
			transition: all 0.4s ease-in-out;
		}

		&:hover, &:active {
			box-shadow: 0px 0px 35px -13px rgba(0,0,0,1) inset;
			-webkit-box-shadow: 0px 0px 35px -13px rgba(0,0,0,1) inset;
			-moz-box-shadow: 0px 0px 35px -13px rgba(0,0,0,1) inset;
		}

		img {
			position: absolute;
			width: 170px;
			height: auto;
			top: 50%;
			left: 50%;
			display: block;
			opacity: 0.5;
			transform: translateX(-55%) translateY(-52%);
		}
	}
}

.container {
	position: relative;
	height: 100%;

	.title {
		position: relative;
		font-family: 'Hanging Letters';
		color: $white;
		font-size: 30px;
		text-align: center;

		@media screen and (min-width:600px) {
			font-size: 62px;
		}

		@media screen and (min-width:768px) {
			font-size: 75px;
		}

		@media screen and (min-width:1024px) {
			font-size: 98px;
		}

		span {
			display: inline-block;
			transform: translateY(-100%);
			transform-origin: top center;
			transition: all 0.5s cubic-bezier(0.1, 0, 0, 1);
			text-shadow: 0px 0px 12px #FFFCB3;

			&.-appear {
				transform: translateY(0);
			}

			&.-sized {
				transition: all 0.2s cubic-bezier(0.1, 0, 0, 1);
				transform: translateY(0) scale(1.25) rotate(15deg);
			}

			&.-colored {
				transition: all 0s cubic-bezier(0.1, 0, 0, 1);
				text-shadow: none;
				color: $black;
				text-shadow: 0px 0px 4px #000000;
			}
		}
	}
}

.content {
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;

	.auv {
		position: absolute;
		width: 75px;
		height: auto;
		top: 80%;
		left: 40%;
		transform: translateX(-50%) translateY(-50%);
		display: block;
	}

	.aup {
		position: absolute;
		width: 76px;
		height: auto;
		top: 78%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		display: block;
	}
}

#paralax{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	background:url("./img/background.jpg");
	background-size:cover;
	background-position: center; 

	.layer{
		position:absolute;
		width:400%;

		&.foreground{
			height:50%;						
			bottom:0;
			background:url("./img/foreground.png") center repeat-x;
			background-size: 25% 100%;
			animation: slideshow $foregroundDuration linear infinite;
		}
	
		&.hills{
			height:40%;						
			bottom:15%;
			background:url("./img/hills.png") center repeat-x;
			background-size: 25% 100%;
			animation: slideshow $hillsDuration linear infinite;
		}
	
		&.rocks1{
			height:35%;						
			bottom:25%;
			background:url("./img/rocks1.png") center repeat-x;
			background-size: 25% 100%;
			animation: slideshow $rocks1Duration linear infinite;
		}
	
		&.rocks2{
			height:40%;						
			bottom:15%;
			background:url("./img/rocks2.png") center repeat-x;
			background-size: 25% 100%;
			animation: slideshow $rocks2Duration linear infinite;
		}
	}
}

.intro__arrowdown {
	position: absolute;
	z-index: 1;
	bottom: 30px;
	left: 50%;
	opacity: 0;
	pointer-events: none;
	transform: translateX(-50%);
	cursor: pointer;
	transition: all 0.5s ease-in-out;

	&.-arrowShow {
		opacity: 1;
		pointer-events: all;
	}

	svg {
		animation: arrowbounce 1.5s infinite;
	}
}

.replay {
	position: absolute;
	top:30px;
	right: 0;
	z-index: 5;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 6px 12px;
	display: none;
	cursor: pointer;
	
	@media screen and (min-width:1024px) {
		top: 0;
	}

	&:hover {
		span {
			color: $black;
		}

		svg {
			path {
				fill: $black;
			}
		}
	}

	&.-animEnded {
		display: flex;
	}

	span {
		font-family: 'Montserrat';
		font-style: 13px;
		color: $white;
		display: inline-block;
		margin-right: 8px;
		transition: all 0.15s ease-in-out;
	}

	svg {
		width: 20px;
		height: 20px;
		display: inline-block;

		path {
			transition: all 0.15s ease-in-out;
		}
	}
}

.intro__banner {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 1;

	p {
		font-family: 'Montserrat';
		font-size: 11px;
		color: $white;
	}
}


/************************
SECTION - 
************************/
section {
	position:relative;
}

.left {
	width: 100%;
	
	
	@media screen and (min-width:1024px) {
		width: 70%;
	}
}

.js-onview {
	opacity: 0;
	transform: translateY(-10%);
	transition: all 0.6s ease-in-out;
	
	&.-reveal {
		opacity: 1;
		transform: translateY(0%);
	}
}

/************************
SECTION - START
************************/
.start {
	padding: 60px 0;
	background: $white;

	@media screen and (min-width:768px) {
		padding: 120px;
	}

	.particletext {
		position: absolute;
		width: 98%;
		height: 10px;
		top: 0;
		left: 0;

		&.confetti {
			>.particle {
				opacity:0;
				position: absolute;
				animation: confetti 8s ease-in infinite;
				 
				&.c1 {
					background-color:rgba(76,175,80,0.5);
				}
				&.c2 {
					background-color:rgba(156,39,176,0.5);
				}
				&.c3 {
					background-color:rgba(245,29,26,0.5);
			 	}
				&.c3 {
					background-color:rgba(49,26,236,0.5);
			 	}
			}
	 }
	}

	.start__inner {
		text-align: center;

		p {
			font-family: 'Montserrat';
			font-size: 24px;
			font-weight: 700;
			color: $black;
			margin-bottom: 12px;

			@media screen and (min-width:768px) {
				font-size: 40px;
				margin-bottom: 32px;
			}
		}
	}
}

/************************
SECTION - SECOND
************************/
.second {
	position: relative;
	min-height: 100vh;
	background: url('./img/binding_dark.png') center repeat;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	z-index: 0;
	overflow: hidden;

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #2a1616;
		background: -webkit-linear-gradient(180deg, rgba(42, 22, 22, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
		background: -moz-linear-gradient(180deg, rgba(42, 22, 22, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(180deg, rgba(42, 22, 22, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
		pointer-events: none;
	}

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #2a1616;
		background: -webkit-linear-gradient(0deg, #2a1616 0%, #00000000 30%);
		background: -moz-linear-gradient(0deg, #2a1616 0%, #00000000 30%);
		background: linear-gradient(0deg, #2a1616 0%, #00000000 30%);
		pointer-events: none;
	}

	.second__icon {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		background: url('./img/skull.svg') no-repeat center;
		background-size: 450px;
		background-attachment: fixed;

		svg {
			position: absolute;
			width: 450px;
			height: 450px;
			top: 50%;
			left: 50%;
			margin-top: -225px;
			margin-left: -225px;
		}
	}

	.container {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	h2 {
		font-family: 'Montserrat';
		font-weight: 700;
		color: $white;
		font-size: 34px;
		margin-bottom: 40px;
		text-align: center;

		@media screen and (min-width:768px) {
			font-size: 40px;
			margin-bottom: 60px;
		}
	}
}


/************************
SECTION - THIRD
************************/
.third, .fifth {
	position: relative;
	padding: 300px 0;
	background: url('./img/pixel-heart.png') center repeat;
	min-height: 100vh;

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #f8aeae;
		background: -webkit-linear-gradient(180deg, #f8aeae 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
		background: -moz-linear-gradient(180deg, #f8aeae 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
		background: linear-gradient(180deg, #f8aeae 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
		pointer-events: none;
	}

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #f8aeae;
		background: -webkit-linear-gradient(0deg, #f8aeae 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
		background: -moz-linear-gradient(0deg, #f8aeae 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
		background: linear-gradient(0deg, #f8aeae 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
		pointer-events: none;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}

	.left {
		text-align: center;

		h2 {
			font-family: 'Montserrat';
			font-weight: 700;
			font-size: 34px;
			margin-bottom: 30px;

			@media screen and (min-width:768px) {
				font-size: 64px;
			}
		}

		.buttons {
			span, a {
				font-family: 'Montserrat';
				font-size: 20px;
				color: $black;
				text-decoration: none;
				display: inline-block;
				background: $white;
				padding: 12px 24px;
				border: 2px solid $black;
				cursor: pointer;
				transition: all 0.2s ease-in-out;

				&:hover {
					background: $black;
					color: $white;
				}
			} 

			&>span {
				margin-right: 32px;
				&+span, &+a {
					margin-left: 32px;
					margin-right: 0;
				}
			}
			
		}
	}
}


/************************
SECTION - FORTH
************************/
.forth {
	position: relative;
	padding: 120px 0;
	min-height: 100vh;
	overflow: hidden;
	z-index: -1;

	.forth__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('./img/repeated-square_green.png') center repeat;
		pointer-events: none;
	}

	.forth__number {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: #DDDD00;
		pointer-events: none;

		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 3%;
			height: 100%;
			background: #CECECE;
			display: block;
		}

		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 3%;
			width: 3%;
			height: 100%;
			background: #DDDD00;
			display: block;
		}

		.forth__number__inner {
			position: absolute;
			width: 100%;
			height: 100%;
			pointer-events: none;

			&::before {
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				width: 3%;
				height: 100%;
				background: #CECECE;
				display: block;
			}
	
			&::after {
				position: absolute;
				content: '';
				top: 0;
				right: 3%;
				width: 3%;
				height: 100%;
				background: #DDDD00;
				display: block;
			}
		}

		span {
			font-family: 'Jersey M54';
			font-size: 280px;
			line-height: 280px;
			position: fixed;
			top: 50%;
			left: 50%;
			margin-top: -154px;
			margin-left: -75px;

			@media screen and (min-width:768px) {
				font-size: 520px;
				line-height: 500px;
				margin-top: -275px;
				margin-left: -140px;
			}
		}
	}

	.container {
		padding-top: 50px;
	}

	h2 {
		font-family: 'Montserrat';
		font-weight: 700;
		color: $white;
		font-size: 34px;
		margin-bottom: 40px;
		text-align: center;

		@media screen and (min-width:768px) {
			font-size: 40px;
			margin-bottom: 60px;
		}
	}
}


/************************
SECTION - FIFTH
************************/
.fifth {
	background: url('./img/watercolor.png') center repeat;

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #ffffff;
		background: -webkit-linear-gradient(180deg, #ffffff 0%, rgba(0,0,0,0.01) 20%, rgba(0,0,0,0.01) 100%);
		background: -moz-linear-gradient(180deg, #ffffff 0%, rgba(0,0,0,0.01) 20%, rgba(0,0,0,0.01) 100%);
		background: linear-gradient(180deg, #ffffff 0%, rgba(0,0,0,0.01) 20%, rgba(0,0,0,0.01) 100%);
		pointer-events: none;
	}

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #ffffff;
		background: -webkit-linear-gradient(0deg, #ffffff 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
		background: -moz-linear-gradient(0deg, #ffffff 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
		background: linear-gradient(0deg, #ffffff 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
		pointer-events: none;
	}
}


/************************
SECTION - IMPOSSIBLE
************************/
.impossible {
	position: relative;
	padding: 150px 0;
	min-height: 100vh;
	overflow: hidden;
	background: $black;



	.impossible__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('./img/sekirodeath.jpg') center repeat;
		background-size: cover;
		pointer-events: none;
		z-index: 0;
	}

	h2{
		font-family: 'Montserrat';
		font-size: 34px;
		color: $white;
		top: 20px;
		text-align: center;
		z-index: 1;
		text-align: center;

		@media screen and (min-width:768px) {
			font-size: 46px;
		}
	}

	.left {
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	.impossible__lulw {
		position: absolute;
		width: 100%;
		height: 0;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		max-width: 1240px;
		height: 100%;

		img {
			position: absolute;
			display: block;
			height: auto;
		}

		.lulone {
			width: 40px;
			top: 10%;
			left: 12%;
			animation: lulw 3s linear infinite;
		}

		.lultwo {
			width: 55px;
			top: 22%;
			left: 60%;
			animation: lulw 5s linear infinite;
		}

		.lulthree {
			width: 80px;
			top: 80%;
			left: 50%;
			animation: lulw 3.2s linear infinite 0.4s;
		}

		.lulfour {
			width: 30px;
			top: 56%;
			left: 30%;
			animation: lulw 2.2s linear infinite 0.6s;
		}

		.lulfive {
			width: 48px;
			top: 0;
			left: 68%;
			animation: lulw 3.2s linear infinite 2.8s;
		}

		.lulsix {
			width: 70px;
			top: 90%;
			left: 22%;
			animation: lulw 5.2s linear infinite 1.2s;
		}

		.lulseven {
			width: 90px;
			top: 2%;
			left: 35%;
			animation: lulw 7.2s linear infinite 3.2s;
		}

		.luleight {
			width: 76px;
			top: 50%;
			left: 7%;
			animation: lulw 5.2s linear infinite 2.5s;
		}

		.lulnine {
			width: 68px;
			top: 89%;
			left: 94%;
			animation: lulw 5.2s linear infinite 2.5s;
		}

		.lulten {
			width: 35px;
			top: 8%;
			left: 94%;
			animation: lulw 5.2s linear infinite 2.5s;
		}
	}
}

/************************
SECTION - SIXTH
************************/
.sixth {
	position: relative;
	padding: 120px 0 100px 0;
	overflow: hidden;

	.sixth__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('./img/dot-grid.png') center repeat;
		pointer-events: none;
	}

	h2 {
		font-family: 'Montserrat';
		font-weight: 700;
		color: $black;
		font-size: 34px;
		margin-bottom: 40px;
		text-align: center;

		@media screen and (min-width:768px) {
			font-size: 40px;
			margin-bottom: 60px;
		}
	}

	.grid-item,
	.grid-sizer {
		width: 100%;
		
		@media screen and (min-width: 600px) {
			width: calc(50% - 24px);
		}

		@media screen and (min-width: 768px) {
			width: calc(33% - 20px);
		}
	}

	

	.grid-item {
		margin-bottom: 32px;

		@media screen and (min-width: 600px) {
			margin-bottom: 48px;
		}

		@media screen and (min-width: 768px) {
			margin-bottom: 40px;
		}
	}

	.sixth__solo {
		background: $white;
		padding: 16px;
		border-radius: 20px;
		border: 2px solid #666666;

		.sixth__text {
			font-family: 'Montserrat';
			font-size: 15px;
			text-align: left;
			display: block;
			margin-bottom: 16px;
		}

		.sixth__author {
			font-family: 'Montserrat';
			font-size: 13px;
			font-style: italic;
			color: #888888;
			text-align: right;
			display: block;
		}
	}
}


/************************
FOOTER
************************/
footer {
	position: relative;
	min-height: 100vh;
	background: $black;

	h2 {
		font-family: 'Montserrat';
		font-weight: 700;
		color: $white;
		font-size: 34px;
		margin-bottom: 60px;
		text-align: center;

		@media screen and (min-width:768px) {
			font-size: 48px;
			margin-bottom: 90px;
		}
	}

	#world {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.container {
		padding: 120px 0 100px 0;
	}

	.footer__container {
		position: relative;
		height: 550px;
		overflow: hidden;

		&::before {
			position: absolute;
			content: '';
			width: 80%;
			height: 100%;
			top: 0;
			left: 50%;
			background: -webkit-linear-gradient(180deg, #000000 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%);
			background: -moz-linear-gradient(180deg, #000000 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%);
			background: linear-gradient(180deg, #000000 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%);
			pointer-events: none;
			z-index: 1;
			transform: translateX(-50%);
		}

		&::after {
			position: absolute;
			content: '';
			width: 80%;
			height: 100%;
			top: 0;
			left: 50%;
			background: -webkit-linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%);
			background: -moz-linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%);
			background: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%);
			pointer-events: none;
			z-index: 1;
			transform: translateX(-50%);
		}

		&.-reveal {
			.credits {
				animation: credits 24s linear infinite;
			}
		}
	}
	
	.credits {
		text-align: center;
		transform: translateY(100%);
		
		.credits__inner {
			margin-bottom: 50px;
		}
		
		h3, p {
			color: $white;
		}

		h3 {
			font-size: 32px;
			text-transform: uppercase;
			margin-bottom: 24px;
		}

		p {
			font-size: 20px;
			margin-bottom: 5px;
			letter-spacing: 1px;

			@media screen and (min-width:768px) {
				font-size: 24px;
			}
		}
	}
}


/************************
LAYERS
************************/
.twitch__chat {
	display: none;
	
	@media screen and (min-width:1024px) {
		display: block;
		position: fixed;
		width: 300px;
		top: 50%;
		right: -100%;
		transform: translateY(-50%);
		transition: all 1.2s ease-in-out;
		z-index: 100px;

		&.-showTwitch {
			right: 0;
		}
	}

	iframe {
		width: 100%;
		height: 70vh;
	}
}

.layer__motiv {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	background: $black-40;
	transition: all 0.14s ease-in-out;

	&.-showLayer {
		opacity: 1;
		pointer-events: all;
	}

	&.layer__motivtwo {
		.container {
			img {
				height: 60vh;
				width: auto;
				margin: 0 auto;
			}
		}
	}

	.container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		text-align: center;

		.layer__close {
			position: absolute;
			width: 60px;
			height: 60px;
			top:70px;
			right: 70px;
			border-radius: 100%;
			background: $black;
			border: 1px solid $white;
			background: url('./img/icon_close.svg') no-repeat center;
			background-size: 30%;
			cursor: pointer;
		}

		img {
			width: 100%;
			height: auto;
			display: block;

			&.jebaited {
				width: 160px;
				height: auto;
				display: inline-block;
				margin-bottom: 20px;
				display: none;
			}
		}
	}
}

/************************
ANIMATION
************************/
@keyframes slideshow {
  0% { transform: translateX(0%) scale(1.04); }
  100% { transform: translateX(-50%) scale(1.04); }
}

@keyframes arrowbounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-15px); }
  60% {
    transform: translateY(-7px); }
}

@keyframes credits {
  0% {
		opacity: 0;
		transform:translateY(100%); }
	1% {
		opacity: 1;
		transform:translateY(100%); }
  98% {
    transform: translateY(-100%); }
	99% {
		opacity: 1; }
	100% {
		opacity: 0;
		transform: translateY(-100%); }
}

@keyframes lulw {
  0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes confetti {
	0% {
		 opacity:0;
		 transform:translateY(-200%) rotate(0deg); }
	10% {
		 opacity:1; }
	35% {
		 transform:translateY(-400%) rotate(270deg); }
	80% {
		 opacity:1; }
	100% {
		 opacity:0;
		 transform:translateY(100vh) rotate(1440deg); }
}
