@font-face {
  font-family: 'Hanging Letters';
  src: url("./fonts/HangingLetters.eot");
  src: url("./fonts/HangingLetters.eot?#iefix") format("embedded-opentype"), url("./fonts/HangingLetters.woff2") format("woff2"), url("./fonts/HangingLetters.woff") format("woff"), url("./fonts/HangingLetters.ttf") format("truetype"), url("./fonts/HangingLetters.svg#HangingLetters") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bomber Balloon';
  src: url("./fonts/BomberBalloon.eot");
  src: url("./fonts/BomberBalloon.eot?#iefix") format("embedded-opentype"), url("./fonts/BomberBalloon.woff2") format("woff2"), url("./fonts/BomberBalloon.woff") format("woff"), url("./fonts/BomberBalloon.ttf") format("truetype"), url("./fonts/BomberBalloon.svg#BomberBalloon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Regular.eot");
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("./fonts/Montserrat-Regular.woff") format("woff"), url("./fonts/Montserrat-Regular.ttf") format("truetype"), url("./fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Bold.eot");
  src: url("./fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Bold.woff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff"), url("./fonts/Montserrat-Bold.ttf") format("truetype"), url("./fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/************************
GLOBALS
************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

.video__container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video__container object,
.video__container embed,
.video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************************
INTRO
************************/
.intro {
  position: relative;
  height: 100vh;
}

.intro::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2a1616;
  background: -webkit-gradient(linear, left bottom, left top, from(#2a1616), color-stop(20%, #FFFFFF00));
  background: linear-gradient(0deg, #2a1616 0%, #FFFFFF00 20%);
  pointer-events: none;
}

.container {
  position: relative;
  height: 100%;
}

.container .title {
  position: relative;
  font-family: 'Hanging Letters';
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .container .title {
    font-size: 62px;
  }
}

@media screen and (min-width: 768px) {
  .container .title {
    font-size: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container .title {
    font-size: 98px;
  }
}

.container .title span {
  display: inline-block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 0.5s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0.5s cubic-bezier(0.1, 0, 0, 1);
  text-shadow: 0px 0px 12px #FFFCB3;
}

.container .title span.-appear {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .title span.-sized {
  -webkit-transition: all 0.2s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0.2s cubic-bezier(0.1, 0, 0, 1);
  -webkit-transform: translateY(0) scale(1.25) rotate(15deg);
          transform: translateY(0) scale(1.25) rotate(15deg);
}

.container .title span.-colored {
  -webkit-transition: all 0s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0s cubic-bezier(0.1, 0, 0, 1);
  text-shadow: none;
  color: #000000;
  text-shadow: 0px 0px 4px #000000;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content .auv {
  position: absolute;
  width: 75px;
  height: auto;
  top: 80%;
  left: 40%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
}

.content .aup {
  position: absolute;
  width: 76px;
  height: auto;
  top: 78%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
}

#paralax {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
}

#paralax .layer {
  position: absolute;
  width: 400%;
}

#paralax .layer.foreground {
  height: 50%;
  bottom: 0;
  background: url("./img/foreground.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 30s linear infinite;
          animation: slideshow 30s linear infinite;
}

#paralax .layer.hills {
  height: 40%;
  bottom: 15%;
  background: url("./img/hills.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 60s linear infinite;
          animation: slideshow 60s linear infinite;
}

#paralax .layer.rocks1 {
  height: 35%;
  bottom: 25%;
  background: url("./img/rocks1.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 120s linear infinite;
          animation: slideshow 120s linear infinite;
}

#paralax .layer.rocks2 {
  height: 40%;
  bottom: 15%;
  background: url("./img/rocks2.png") center repeat-x;
  background-size: 25% 100%;
  -webkit-animation: slideshow 240s linear infinite;
          animation: slideshow 240s linear infinite;
}

.intro__arrowdown {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.intro__arrowdown svg {
  -webkit-animation: arrowbounce 1.5s infinite;
          animation: arrowbounce 1.5s infinite;
}

.replay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 12px;
  display: none;
  cursor: pointer;
}

.replay:hover span {
  color: #000000;
}

.replay:hover svg path {
  fill: #000000;
}

.replay.-animEnded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.replay span {
  font-family: 'Montserrat';
  font-style: 13px;
  color: #FFFFFF;
  display: inline-block;
  margin-right: 8px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.replay svg {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.replay svg path {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.intro__banner {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.intro__banner p {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #FFFFFF;
}

/************************
SECTION - 
************************/
section {
  position: relative;
}

.left {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .left {
    width: 70%;
  }
}

/************************
SECTION - SECOND
************************/
.second {
  position: relative;
  padding: 200px 0;
  background: url("./img/binding_dark.png") center repeat;
}

.second::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2a1616;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a1616), color-stop(20%, #FFFFFF00));
  background: linear-gradient(180deg, #2a1616 0%, #FFFFFF00 20%);
  pointer-events: none;
}

.second::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2a1616;
  background: -webkit-gradient(linear, left bottom, left top, from(#2a1616), color-stop(30%, #FFFFFF00));
  background: linear-gradient(0deg, #2a1616 0%, #FFFFFF00 30%);
  pointer-events: none;
}

.second .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.second h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .second h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

/************************
SECTION - THIRD
************************/
.third, .fifth {
  position: relative;
  padding: 300px 0;
  background: url("./img/pixel-heart.png") center repeat;
  min-height: 100vh;
}

.third::before, .fifth::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8aeae;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8aeae), color-stop(20%, #FFFFFF00));
  background: linear-gradient(180deg, #f8aeae 0%, #FFFFFF00 20%);
  pointer-events: none;
}

.third::after, .fifth::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8aeae;
  background: -webkit-gradient(linear, left bottom, left top, from(#f8aeae), color-stop(20%, #FFFFFF00));
  background: linear-gradient(0deg, #f8aeae 0%, #FFFFFF00 20%);
  pointer-events: none;
}

.third .container, .fifth .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third .left, .fifth .left {
  text-align: center;
}

.third .left h2, .fifth .left h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .third .left h2, .fifth .left h2 {
    font-size: 64px;
  }
}

.third .left .buttons span, .third .left .buttons a, .fifth .left .buttons span, .fifth .left .buttons a {
  font-family: 'Montserrat';
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  background: #FFFFFF;
  padding: 12px 24px;
  border: 2px solid #000000;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.third .left .buttons span:hover, .third .left .buttons a:hover, .fifth .left .buttons span:hover, .fifth .left .buttons a:hover {
  background: #000000;
  color: #FFFFFF;
}

.third .left .buttons > span, .fifth .left .buttons > span {
  margin-right: 32px;
}

.third .left .buttons > span + span, .third .left .buttons > span + a, .fifth .left .buttons > span + span, .fifth .left .buttons > span + a {
  margin-left: 32px;
  margin-right: 0;
}

/************************
SECTION - FORTH
************************/
.forth {
  position: relative;
  padding: 120px 0;
  min-height: 100vh;
  overflow: hidden;
}

.forth .forth__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("./img/repeated-square.png") center repeat;
  pointer-events: none;
}

.forth .container {
  padding-top: 50px;
}

.forth h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .forth h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

/************************
SECTION - FIFTH
************************/
.fifth {
  background: url("./img/watercolor.png") center repeat;
}

.fifth::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d7c8a6;
  background: -webkit-gradient(linear, left top, left bottom, from(#d7c8a6), color-stop(20%, #FFFFFF00));
  background: linear-gradient(180deg, #d7c8a6 0%, #FFFFFF00 20%);
  pointer-events: none;
}

.fifth::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d7c8a6;
  background: -webkit-gradient(linear, left bottom, left top, from(#d7c8a6), color-stop(20%, #FFFFFF00));
  background: linear-gradient(0deg, #d7c8a6 0%, #FFFFFF00 20%);
  pointer-events: none;
}

/************************
SECTION - SEKIRO
************************/
.sekiro {
  position: relative;
  padding: 150px 0;
  min-height: 100vh;
  overflow: hidden;
}

.sekiro .sekiro__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("./img/sekirodeath.jpg") center repeat;
  pointer-events: none;
}

.sekiro .container {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1240px;
  height: 100%;
}

.sekiro .container img {
  position: absolute;
  display: block;
  height: auto;
}

.sekiro .container .lulone {
  width: 40px;
  top: 10%;
  left: 12%;
  -webkit-animation: lulw 3s linear infinite;
          animation: lulw 3s linear infinite;
}

.sekiro .container .lultwo {
  width: 55px;
  top: 30%;
  left: 60%;
  -webkit-animation: lulw 5s linear infinite;
          animation: lulw 5s linear infinite;
}

.sekiro .container .lulthree {
  width: 80px;
  top: 80%;
  left: 50%;
  -webkit-animation: lulw 3.2s linear infinite 0.4s;
          animation: lulw 3.2s linear infinite 0.4s;
}

.sekiro .container .lulfour {
  width: 30px;
  top: 56%;
  left: 30%;
  -webkit-animation: lulw 2.2s linear infinite 0.6s;
          animation: lulw 2.2s linear infinite 0.6s;
}

.sekiro .container .lulfive {
  width: 48px;
  top: 0;
  left: 68%;
  -webkit-animation: lulw 3.2s linear infinite 2.8s;
          animation: lulw 3.2s linear infinite 2.8s;
}

.sekiro .container .lulsix {
  width: 70px;
  top: 90%;
  left: 22%;
  -webkit-animation: lulw 5.2s linear infinite 1.2s;
          animation: lulw 5.2s linear infinite 1.2s;
}

.sekiro .container .lulseven {
  width: 90px;
  top: 2%;
  left: 35%;
  -webkit-animation: lulw 7.2s linear infinite 3.2s;
          animation: lulw 7.2s linear infinite 3.2s;
}

.sekiro .container .luleight {
  width: 76px;
  top: 50%;
  left: 7%;
  -webkit-animation: lulw 5.2s linear infinite 2.5s;
          animation: lulw 5.2s linear infinite 2.5s;
}

/************************
SECTION - SIXTH
************************/
.sixth {
  position: relative;
  padding: 120px 0 100px 0;
  overflow: hidden;
}

.sixth .sixth__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("./img/dot-grid.png") center repeat;
  pointer-events: none;
}

.sixth::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #C16039;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(20%, #FFFFFF00));
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF00 20%);
  pointer-events: none;
}

.sixth h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sixth h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

.sixth .grid-item,
.sixth .grid-sizer {
  width: 100%;
  margin-bottom: 32px;
}

@media screen and (min-width: 600px) {
  .sixth .grid-item,
  .sixth .grid-sizer {
    width: calc(50% - 24px);
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .sixth .grid-item,
  .sixth .grid-sizer {
    /* 5 columns for larger screens */
    width: calc(33% - 20px);
    margin-bottom: 40px;
  }
}

.sixth .sixth__solo {
  background: #FFFFFF;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid #777777;
}

.sixth .sixth__solo .sixth__text {
  font-family: 'Montserrat';
  font-size: 15px;
  text-align: left;
  display: block;
  margin-bottom: 16px;
}

.sixth .sixth__solo .sixth__author {
  font-family: 'Montserrat';
  font-size: 13px;
  font-style: italic;
  color: #888888;
  text-align: right;
  display: block;
}

/************************
FOOTER
************************/
footer {
  position: relative;
  padding: 120px 0 100px 0;
  min-height: 100vh;
  background: #000000;
}

footer h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

footer .footer__container {
  position: relative;
  height: 50%;
  overflow: hidden;
}

footer .footer__container::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(90deg, #000000 0%, #FFFFFF00 20%);
  pointer-events: none;
  z-index: 1;
}

footer .footer__container::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(-90deg, #000000 0%, #FFFFFF00 20%);
  pointer-events: none;
  z-index: 1;
}

footer .credits {
  padding: 80px 0;
  text-align: center;
  -webkit-animation: credits 14s linear infinite;
          animation: credits 14s linear infinite;
}

footer .credits .credits__inner {
  margin-bottom: 50px;
}

footer .credits h3, footer .credits p {
  color: #FFFFFF;
}

footer .credits h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer .credits p {
  font-size: 18px;
}

/************************
LAYERS
************************/
.twitch__chat {
  display: none;
}

@media screen and (min-width: 1024px) {
  .twitch__chat {
    display: block;
    position: fixed;
    width: 320px;
    top: 50%;
    right: -100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 100px;
  }
  .twitch__chat.-showTwitch {
    right: 0;
  }
}

.twitch__chat iframe {
  width: 100%;
  height: 70vh;
}

.layer__motiv {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}

.layer__motiv.-showLayer {
  opacity: 1;
  pointer-events: all;
}

.layer__motiv.layer__motivtwo .container img {
  height: 60vh;
  width: auto;
  margin: 0 auto;
}

.layer__motiv .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.layer__motiv .container .layer__close {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 70px;
  right: 70px;
  border-radius: 100%;
  background: #000000;
  border: 1px solid #FFFFFF;
  background: url("./img/icon_close.svg") no-repeat center;
  background-size: 30%;
  cursor: pointer;
}

.layer__motiv .container img {
  width: 100%;
  height: auto;
  display: block;
}

.layer__motiv .container img.jebaited {
  width: 160px;
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
  display: none;
}

/************************
ANIMATION
************************/
@-webkit-keyframes slideshow {
  0% {
    -webkit-transform: translateX(0%) scale(1.04);
            transform: translateX(0%) scale(1.04);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1.04);
            transform: translateX(-50%) scale(1.04);
  }
}
@keyframes slideshow {
  0% {
    -webkit-transform: translateX(0%) scale(1.04);
            transform: translateX(0%) scale(1.04);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1.04);
            transform: translateX(-50%) scale(1.04);
  }
}

@-webkit-keyframes dayToNight {
  0% {
    -webkit-filter: hue-rotate(0deg) brightness(1);
    filter: hue-rotate(0deg) brightness(1);
  }
  50% {
    -webkit-filter: hue-rotate(180deg) brightness(0.1);
    filter: hue-rotate(180deg) brightness(0.1);
  }
  100% {
    -webkit-filter: hue-rotate(0deg) brightness(1);
    filter: hue-rotate(0deg) brightness(1);
  }
}

@keyframes dayToNight {
  0% {
    -webkit-filter: hue-rotate(0deg) brightness(1);
    filter: hue-rotate(0deg) brightness(1);
  }
  50% {
    -webkit-filter: hue-rotate(180deg) brightness(0.1);
    filter: hue-rotate(180deg) brightness(0.1);
  }
  100% {
    -webkit-filter: hue-rotate(0deg) brightness(1);
    filter: hue-rotate(0deg) brightness(1);
  }
}

@-webkit-keyframes arrowbounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}

@keyframes arrowbounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}

@-webkit-keyframes credits {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  98% {
    -webkit-transform: translateY(-125%);
            transform: translateY(-125%);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-125%);
            transform: translateY(-125%);
  }
}

@keyframes credits {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  98% {
    -webkit-transform: translateY(-125%);
            transform: translateY(-125%);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-125%);
            transform: translateY(-125%);
  }
}

@-webkit-keyframes lulw {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lulw {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */